<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta charset="ISO-8859-1">
    <title>Personas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{/person/new}" class="btn btn-primary">Nuevo</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRES</th>
            <th>APELLIDO</th>
            <th>ACCIONES</th>
            <th>CORREO</th>
            <th>SEXO</th>
            <th>EDAD</th>
            <th>NICEL DE SEDENTARISMO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person:${people}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.telefono}"></td>
            <td th:text="${person.correo}"></td>
            <td th:text="${person.sexo}"></td>
            <td th:text="${person.edad}"></td>
            <td th:text="${person.nactividad}"></td>
            <td>
                <a th:href="@{/person/editar/}+${person.id}" class="btn btn-info">Editar</a>
                <a th:onclick="eliminar([[${person.id}]])" class="btn btn-danger">Eliminar</a>


            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="funciones.js"></script>

</body>
</html>