<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<h1>Noticias</h1>
<div class="card" style="width: 18rem;">
    <img src="https://media.istockphoto.com/vectors/hands-holding-newspaper-vector-id930552534?k=6&m=930552534&s=170667a&w=0&h=tKANzjAFZP5xdIS7fUjqWNFo3oSCGCPC4-VT8hvOv34=" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Muere de covid-19</h5>
        <p class="card-text">Joven adolecente fallece tras dar positivo en  los examenes de covid-19. Medicos afirman que era por una mala salud</p>

    </div>
</div>
</body>
</html>